In [1]:
import pandas as pd
#from pandas_datareader import data, wb
import datetime
import numpy as np
import yfinance as yf
from ichimoku import *

# Import Data

In [5]:
start = pd.to_datetime('2013-09-04')
end = pd.to_datetime('2022-03-30')

In [6]:
#df = data.DataReader('SPY', 'yahoo', start , end)
df = yf.download('BTC-USD',start, end)
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...
2022-03-25,43964.546875,44999.492188,43706.285156,44348.730469,44348.730469,30574413034
2022-03-26,44349.859375,44735.996094,44166.273438,44500.828125,44500.828125,16950455995
2022-03-27,44505.355469,46827.546875,44437.292969,46820.492188,46820.492188,28160889722
2022-03-28,46821.851562,48086.835938,46690.203125,47128.003906,47128.003906,36362175703
2022-03-29,47100.437500,48022.289062,47100.437500,47465.730469,47465.730469,31397059069

In [7]:
todays_date = datetime.datetime.now().date()
index = pd.date_range(end, periods=25, freq='D')
 
columns = df.columns
 
dfna = pd.DataFrame(index=index, columns=columns)
 
dfna

           Open High  Low Close Adj Close Volume
2022-03-30  NaN  NaN  NaN   NaN       NaN    NaN
2022-03-31  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-01  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-02  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-03  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-04  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-05  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-06  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-07  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-08  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-09  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-10  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-11  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-12  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-13  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-14  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-15  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-16  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-17  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-18  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-19  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-20  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-21  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-22  NaN  NaN  NaN   NaN       NaN    NaN
2022-04-23  NaN  NaN  NaN   NaN       NaN    NaN

In [8]:
df = pd.concat([df,dfna])

# Ichimoku application

In [9]:
test()
ichimoku_calculate(df)
df

TEST

,Open,High,Low,Close,Adj Close,Volume,tenkan_sen,kijun_sen,senkou_span_a,senkou_span_b,chikou_span,cross_tenkan_kijun,cross_price_kijun,kumo_color,s3line
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800,NaN,NaN,NaN,NaN,390.414001,0,0,0,0
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,NaN,NaN,NaN,NaN,400.869995,0,0,0,0
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,NaN,NaN,NaN,NaN,394.773010,0,0,0,0
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,NaN,NaN,NaN,NaN,382.556000,0,0,0,0
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,NaN,NaN,NaN,NaN,383.757996,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41372.996094,40060.195312,NaN,0,0,1,0
2022-04-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41909.917969,40060.195312,NaN,0,0,1,0
2022-04-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41909.917969,40060.195312,NaN,0,0,1,0
2022-04-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42895.834961,40643.382812,NaN,0,0,1,0
2022-04-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43525.479492,41273.027344,NaN,0,0,1,0

In [ ]:
tenkan_vs_kijun(df)

In [ ]:
df

In [ ]:
df['tenkan_sen']>df['kijun_sen']

In [ ]:
# Tenkan-sen (Conversion Line): (9-period high + 9-period low)/2))
nine_period_high = df['High'].rolling(window= 9).max()
nine_period_low = df['Low'].rolling(window= 9).min()
df['tenkan_sen'] = (nine_period_high + nine_period_low) /2
# Kijun-sen (Base Line): (26-period high + 26-period low)/2))
period26_high = df['High'].rolling(window=26).max()
period26_low = df['Low'].rolling(window=26).min()
df['kijun_sen'] = (period26_high + period26_low) / 2
# Senkou Span A (Leading Span A): (Conversion Line + Base Line)/2))
df['senkou_span_a'] = ((df['tenkan_sen'] + df['kijun_sen']) / 2).shift(26)
# Senkou Span B (Leading Span B): (52-period high + 52-period low)/2))
period52_high = df['High'].rolling(window=52).max()
period52_low = df['Low'].rolling(window=52).min()
df['senkou_span_b'] = ((period52_high + period52_low) / 2).shift(26)
# The most current closing price plotted 26 time periods behind (optional)
df['chikou_span'] = df['Close'].shift(-26)

In [ ]:
df

# Algorithm viz

In [ ]:
import plotly.graph_objs as go

In [ ]:
#declare figure
fig = go.Figure()

#Set up traces
fig.add_trace(go.Scatter(x=df.index, y= df['tenkan_sen'],line=dict(color='royalblue', width=.8), name = 'Tenkan Sen'))
fig.add_trace(go.Scatter(x=df.index, y= df['kijun_sen'],line=dict(color='orange', width=.8), name = 'Kijun Sen'))
fig.add_trace(go.Scatter(x=df.index, y= df['senkou_span_a'],line=dict(color='black', width=.8), name = 'Senkou_span_a'))
fig.add_trace(go.Scatter(x=df.index, y= df['senkou_span_b'],line=dict(color='purple', width=1.8), name = 'Senkou_span_b',fill='tonexty',fillcolor='GREEN',opacity=.1))
fig.add_trace(go.Scatter(x=df.index, y= df['chikou_span'],line=dict(color='red', width=.8), name = 'Chinkou_span'))

fig.add_trace(go.Candlestick(x=df.index,
                open=df['Open'],
                high=df['High'],
                low=df['Low'],
                close=df['Close'], name = 'market data'))

# Add titles
fig.update_layout(
    title='Ichimoku Strategy',
    yaxis_title='Stock Price (USD per Shares)')

# X-Axes
fig.update_xaxes(
    rangeslider_visible=True,
    rangeselector=dict(
        buttons=list([
            dict(count=1, label="1m", step="month", stepmode="backward"),
            dict(count=6, label="6m", step="month", stepmode="backward"),
            dict(count=1, label="YTD", step="year", stepmode="todate"),
            dict(count=1, label="1y", step="year", stepmode="backward"),
            dict(step="all")
        ])
    )
)

#Show
fig.show()